# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
venv/
*csv
*pkl
# Jupyter
.ipynb_checkpoints/

# Data (DO NOT COMMIT DATA)
data/raw/
data/processed/

# Models
models/*.pkl
models/*.joblib

# OS
.DS_Store
Thumbs.db
